@model IEnumerable<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" id="wrapper">

    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <a class="btn btn-warning float-right" asp-controller="Portfolio" asp-action="Edit">Add-Portfolio</a>
        </nav>
        <div class="container-fluid">
            <div class="text-center mt-3">
                <h2>Portfolio</h2>
                <hr />
            </div>
            <div class="table-responsive">
                <table id="myTable" class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Detail</th>
                            <th>Language</th>
                            <th>Link</th>
                            <th>Images</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                     <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var table;
        $(document).ready(function () {
            loadDataTable();
        });
        function loadDataTable() {
            table = $('#myTable').DataTable({
                ajax: {
                    url: "/api/portfolio",
                    dataSrc:""
                },
                columns: [
                    { data: "id"},
                    { data: "name" },
                    { data: "type" },
                    { data: "details" },
                    { data: "language" },
                    { data: "link"},
                    {
                        "data": "portfolioPhoto",
                        "render": function (data) {
                            var img = '/content/blog/' + data;
                            return '<img src="' + img + '" height="50px" width="50px" >';
                        }
                    },
                    {
                        data: "edit",
                        render: function (data, type, port) {
                            return "<a class='btn btn-warning' href='/portfolio/edit/" + port.id + "'> Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-port-id=" + data + ">Delete</button>";
                        }
                    }
                ], "pageLength": 10
            });
            $("#myTable").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this port?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/portfolio/" + button.attr("data-port-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });
        }
    </script>
    <script src="~/lib/js/menutoggle.js"></script>

}




