<section class="page-hero">
  <div class="section-center">
    <h3 class="page-hero-title">Home / About</h3>
  </div>
</section>
<!--  ======================== About Me Area ==============================  -->
<main id="AboutPage">
  <div id="about" class="about-me container">
    <div class="row">
      <!-------------------------- Call API-Area --------------------------------------------------->
      <div id="members" class="col-lg-6 col-xl-5 pt-3">
        <div class="card card-box mb-4">
          <div class="card-img-wrapper-box">
            <img
              style="width: 100%"
              class="img-thumbnail"
              src="/assets/admin/me.jpg"
              alt="knownAs"
            />
            <ul class="list-inline member-icons animate text-center">
              <li class="list-inline-item">
                <a class="btn btn-primary btn-sm" href="/UI/Members/details/id">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  href="https://www.facebook.com/Icreatesites4u-690772767726869"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  href="https://github.com/UxDeveloper82"
                >
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              <i class="fa fa-user"></i>
              KnownAs: knownAs, LastActive: new Date
            </h6>
            <p class="card-text text-muted text-center">From: members.city</p>
            <p class="text-center text-uppercase">Dotnet Fullstack-developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="about-info">
          <div class="main-title">
            <h2 class="text-upper text-center mt-0">About Me</h2>
            <p class="text-white-75 mb-4">
              Welcome To My Spot!! Hi there everyone My Name is Martin, am a
              self-taught software developer. My favorite Technologies for
              coding Frontend are Html5, Css3 and JavaScript During the
              Developing For Backend my number one framework is asp.net core and
              C# I develop and write high-quality code, design, test, maintain
              and support custom mobile and web applications, and most important
              meet customer requirements.
            </p>
          </div>
          <div class="personal-info">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  <span>Name: "Martin Fernandez"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Phone: "863-969-8248"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Email: "Electronicsmf@aol.com"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Address: "Polk County, Florida"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span> Freelance: "Available"</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------My-Skils------------------------------------------>
  <section class="skills" id="skills">
    <div class="container">
      <h2 class="text-uppercase title-text">My Awesome Skills</h2>
      <h2 class="section-title">Programming Languages & Tools</h2>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-html5 fa-3x"></i>
            <h4>Html5</h4>
            <p>
              I enjoy working with html5 it gives me more control over the
              performance of the websites.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-css3-alt fa-3x"></i>
            <h4>Css3</h4>
            <p>
              I can controls colors, text alignments, graphics, background
              images, tables and other components.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-node-js fa-3x"></i>
            <h4>JavaScript</h4>
            <p>
              Let's improves the user experience of the web page by converting
              it from a static page into an interactive one.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-angular fa-3x"></i>
            <h4>Angular</h4>
            <p>
              Let's take your app to the next level and get benefits from the
              ability to maintain easily and testing.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-microsoft fa-3x"></i>
            <h4>Asp.net and C#</h4>
            <p>
              Work with asp.net core it increases security with .net core its
              cost Effective and is cross-platform.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fas fa-database fa-3x"></i>
            <h4>Sql database</h4>
            <p>
              Let's build your next app faster on a fully managed Sql database
              plus enable the app performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------------------------------------- about-us --------------------------------------------------------------------->
  <section id="about-area" class="section pt-0">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-sm-4 col-xl-5 bg-contain">
          <!-- about us image -->
          <img
            class="img-fluid w-100"
            src="/assets/latest/lgh1.jpg"
            alt="About Image"
          />
        </div>
        <div class="col-lg-6 col-sm-4 col-xl-5">
          <div class="main-title">
            <span class="section-title-border"></span>
            <p class="text-uppercase title-text">More About Me</p>
            <h2 class="section-title">Love Sharing Knowledge</h2>
            <p class="mb-5 bg-light p-3">
              One of the biggest things i love and enjoy doing is learning more
              and sharing knowledge. Feel free to check out my github!
            </p>
            <a href="/UI/Messages/New" class="btn btn-success hover-ripple"
              >Send Message</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!------------------------------------feature-Area ---------------------------------------------------------------->
  <section id="section">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 offset-lg-2 order-lg-1 order-2">
          <div class="main-title">
            <span class="section-title-border"></span>
            <p class="subtitle">hello all you fabulous people!</p>
            <h2 class="section-title">Check out My Channel</h2>
            <p class="mb-5">Grow Your Skills With JavaScript.</p>
          </div>
          <!-- feature item -->
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-5">
              <div class="text-center mr-4">
                <div class="icon-bg water-wave">
                  <i class="fa fa-snowflake-o icon text-primary"></i>
                </div>
              </div>
              <div>
                <h4>Creative Design with Javascript</h4>
                As a good developer, I strive to write clean, healthy, and
                maintainanble code plus I enjoy creating custom & trendy designs
                to meet my website’s goals.
              </div>
            </li>
            <!-- feature item -->
            <li class="d-flex align-items-center mb-5">
              <div class="text-center mr-4">
                <div class="icon-bg water-wave">
                  <i class="fa fa-code icon text-primary"></i>
                </div>
              </div>
              <div>
                <h4>Goals as a Web Developer</h4>
                Continue to learn and improve my developer skills I enjoy
                collaborating in projects to improve my communication
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 pr-lg-0 order-lg-2 order-1 mb-5 mb-lg-0">
          <div
            style="padding: 5px; border: 3px solid black"
            class="embed-responsive embed-responsive-16by9 box-shadow"
          >
            <iframe
              src="https://www.youtube.com/embed/IQBybFoVpho"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /feature -->
  <section id="banner">
    <div class="container">
      <div class="row grid justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="main-title">
            <div class="about-title">
              <h2>Take Your Website To The Next Level! With JavaScript</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------------------------------Tabs-Area ------------------------------------------------------->
  <section class="head-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 mt-xl-5">
          <div id="tab-heading" class="heading-title">
            <h1 class="text-uppercase title-text">
              Here's a few Things about me
            </h1>
          </div>
        </div>
      </div>
      <div class="row grid justify-content-center bg-light p-3 mb-3">
        <div
          id="tabs-container"
          class="col-lg-12 col-md-12 col-xs-12 operations"
        >
          <div class="btn-group btn-group-sm operations__tab-container">
            <button
              class="btn btn-secondary operations__tab operations__tab--1 operations__tab--active"
              data-tab="1"
            >
              <span>01</span>Connect with me
            </button>
            <button
              class="btn btn-secondary operations__tab operations__tab--2"
              data-tab="2"
            >
              <span>02</span>Tools for better code
            </button>
            <button
              class="btn btn-secondary operations__tab operations__tab--3"
              data-tab="3"
            >
              <span>03</span>Amazing Place to learn
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
